@import "../../index.scss";

.autocomplete__results,
.autocomplete__spinner {
  background-color: $blue-dark;
  list-style: none;
  border-radius: 5px;
  border: 1px solid $gray-light;
  position: absolute;
  width: 100%;
  z-index: 1;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .active {
    color: $blue-dark;
    background-color: $orange;
    a:link.activeLink,
    a:visited.activeLink {
      color: $blue-dark;
    }
  }
  a:link {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  a:visited:active {
    color: white;
  }
  a:hover  {
    color: $orange;
  }
}
.form {
  height: 100%;
  width: 100%;
}
.autocomplete {
  margin: auto;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.seeAll {
  cursor: pointer;
}
.item.active {
  color: red;
}
