.box {
  height: 60vh;
  text-align: center;
}

.skeleton {
  height: 60vh;
  display: flex;
  justify-content: center;
}

.utilityInfos,
.rules {
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxImage {
  height: 75%;
  border-radius: 8px;
}

.link,
.link:hover {
  text-decoration: none;
}
