@import "../index";

.container {
  height: 100vh;
  display: flex;

  /* Direction of the items, can be row or column */
  flex-direction: column;
  & > .toast {
    position: absolute;
    right: 1rem;
    top: 5rem;
  }
}
.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: $blue-dark;
  padding-left: 20px;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(./../assets/images/DesktopHD.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  display: flex;
  /* Direction of the items, can be row or column */
  flex-direction: column;
  flex-grow: 1;
}

.content {
  width: 100%;
  height: 100%;
  &_inline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

.footer {
  align-self: center;
  width: 90%;
  height: 80px;
  border-top: 1px solid $white;
  max-width: 1200px;
  color: $white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  & > div {
    text-align: center;
  }
}
