:root {  
  --card-padding: 20px;
  --card-height: 550px;
  --card-skeleton: linear-gradient(lightgrey 100%, transparent 0);
  
  --image-height: 70%;
  --image-width: 90%;
  --image-position: center var(--card-padding);
  --image-skeleton: linear-gradient(white var(--image-height), transparent 0);
  
  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(white var(--desc-line-height), transparent 0);
  --desc-line-1-width:90%;
  --desc-line-1-position: center 65%;
  --desc-line-2-width:90%;
  --desc-line-2-position: center 70%;
  --desc-line-3-width:90%;
  --desc-line-3-position: center 75%;
  --desc-line-4-width:90%;
  --desc-line-4-position: center 80%;
  --desc-line-5-width:90%;
  --desc-line-5-position: center 85%;
  --desc-line-6-width:50%;
  --desc-line-6-position:  10% 90%;
  

  --desc-last-line-height: 30px;
  --desc-last-line-skeleton: linear-gradient(white var(--desc-last-line-height), transparent 0);
  --desc-last-line-width:60px;
  --desc-last-line-position: calc(100% - var(--card-padding)) 97%;
  
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height));
}

/*
 * Card Skeleton for Loading
 */

.card {
  width: 100%;
  max-height: var(--card-height);
  max-width: 350px;
  
  &:empty::after {
    content:"";
    display:block;
    width: 100%;
    height: 100%;
    border-radius:6px;
    box-shadow: 0 10px 45px rgba(0,0,0, .1);

    background-image:
      linear-gradient(
        90deg, 
        rgba(lightgrey, 0) 0, 
        rgba(lightgrey, .8) 50%, 
        rgba(lightgrey, 0) 100%
      ),                          //animation blur
      var(--image-skeleton),      //title
      var(--desc-line-skeleton),  //desc1
      var(--desc-line-skeleton),  //desc2
      var(--desc-line-skeleton),  //desc2
      var(--desc-line-skeleton),  //desc2
      var(--desc-line-skeleton),  //desc2
      var(--desc-line-skeleton),  //desc2
      var(--desc-last-line-skeleton),  //desc2
      var(--card-skeleton)        //card
    ;

    background-size:
      var(--blur-size),
      var(--image-width) var(--image-height),
      var(--desc-line-1-width) var(--desc-line-height),
      var(--desc-line-2-width) var(--desc-line-height),
      var(--desc-line-3-width) var(--desc-line-height),
      var(--desc-line-4-width) var(--desc-line-height),
      var(--desc-line-5-width) var(--desc-line-height),
      var(--desc-line-6-width) var(--desc-line-height),
      var(--desc-last-line-width) var(--desc-last-line-height),
      100% 100%
    ;
    
    background-position:
      -150% 0,                      //animation
      var(--image-position),        //title
      var(--desc-line-1-position),  //desc1
      var(--desc-line-2-position),  //desc2
      var(--desc-line-3-position),  //desc3
      var(--desc-line-4-position),  //desc3
      var(--desc-line-5-position),  //desc3
      var(--desc-line-6-position),  //desc3
      var(--desc-last-line-position),  //desc3
      0 0                           //card
    ;

    background-repeat: no-repeat;
    animation: loading 1.2s infinite;
  }
}

@keyframes loading {
  to {
    background-position:
      350% 0,        
      var(--image-position),  
      var(--desc-line-1-position),
      var(--desc-line-2-position),
      var(--desc-line-3-position),
      var(--desc-line-4-position),
      var(--desc-line-5-position),
      var(--desc-line-6-position),
      var(--desc-last-line-position),
      0 0
    ;
  }
}