@import "../../index";
.navHeader {
  color: $white;
  display: flex;
  & > a {
    height: 100%;
    & > svg {
      min-height: 20px;
      height: 100%;
    }
  }
  
}
.navlink {
  color: $white;
  text-decoration: none;
}
