.cardGrid {
  padding-top: 8px;
  padding-bottom: 8px;
}

.listHeader {
  padding: 8px 0px 6px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardMedia {
  padding-top: 100%;
  background-size: unset !important;
}
.cardContent {
  flex-grow: 1;
}
.link {
  display: contents;
  height: 100%;
}
.link:hover {
  text-decoration: none;
}
.cardActions {
  justify-content: space-between;
}
.sharingActions {
  display: flex;
}
