@import "node_modules/@horsty/library/build/gui.scss";
@import "./assets/styles/fonts";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  /* max-width: 850px; */
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}
body > iframe {
  display: none !important;
}
